@import "tailwindcss";

:root {
  --background: #ffffff;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/fonnts.com-Greycliff_CF_Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  font-family: 'Greycliff CF', sans-serif;
  overflow: hidden;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 3px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #8054C780;
  border-radius: 4px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

